.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.image-container img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.rating {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.actions {
  display: flex;
  gap: 10px;
}

.ingredients {
  width: 100%;
  max-width: 600px;

}

.nutrition-section {
  text-align: center;
  margin-top: 20px;
}
