.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.image-container img {
  width: 100%;
  position: relative;
  max-width: 600px;
  border-radius: 10px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.heart {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.actions {
  display: flex;
  gap: 10px;
}

.ingredients {
  width: 100%;
  max-width: 600px;

}

.nutrition-section {
  text-align: center;
  margin-top: 20px;
}
