<app-header></app-header>
<ion-header>
  <ion-toolbar>
    <ion-title>{{ recipeData?.name || 'Receta' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="recipe-container" *ngIf="recipeData">
    <div class="image-container">
      <div class="actions">
        <ion-button fill="clear" (click)="toggleFavorite()">
          <ion-icon
            slot="icon-only"
            [name]="isFavorite ? 'heart' : 'heart-outline'"
            color="danger"
          ></ion-icon>
        </ion-button>
      </div>
      <figure>
        <img [src]="recipeData.Image || 'assets/Images/default_image.png'" alt="Imagen de receta">
      </figure>
      <div class="rating">
        <span *ngFor="let star of [1,2,3,4,5]" class="star">⭐</span>
      </div>
      <div class="actions">

      </div>
    </div>
    <h2>Ingredientes</h2>
    <ul>
      <li *ngFor="let ingredient of recipeData.Ingredients">
        {{ ingredient.Ammount }} de {{ ingredient.Ingredient }}
      </li>
    </ul>

    <h2>Pasos de la receta</h2>
    <ul>

        <app-steps-of-recipes [steps]="recipeData.Steps"></app-steps-of-recipes>

    </ul>





  </div>
</ion-content>
