<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goTo('')" fill="clear">
        <ion-img src="assets/Images/Icone.png" class="logo links" alt="HomeCook Logo"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title>HomeCook</ion-title>

    <ion-buttons slot="end" class="desktop-nav">
      <ion-button (click)="goTo('')" class="links clickable">Inicio</ion-button>
      <ion-button (click)="goTo('')" class="links clickable">Recipes</ion-button>
      <ion-button (click)="goTo('login')" class="links clickable">Saved</ion-button>
      <ion-button class="links" (click)="scrollToFooter()">Contact</ion-button>

      <!-- Mostrar ícono de cuenta si está logueado -->
      <ion-button *ngIf="authToken" (click)="goToAccount()" class="links">
        <ion-img src="assets/Images/account.png" alt="Cuenta" class="image_icon"></ion-img>
      </ion-button>

      <!-- Mostrar botones si NO está logueado -->
      <ng-container *ngIf="!authToken">
        <ion-button id="LoginButton" class="nav-button" (click)="goToLogin()">Log in</ion-button>
        <ion-button id="Sign-inButton" class="nav-button" (click)="goToSignIn()">Sign-In</ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

