<app-header></app-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="ListOfRecipes" class="recipe-container">
    <div
      *ngFor="let recipe of recipes"
      class="recipe-card"
      [class.favorite]="recipe.isFavorite"
      (click)="toggleFavorite(recipe)"
    >
      <app-item [recipe]="recipe"></app-item>

      <!-- Etichetta "Preferita" o icona -->
      <div class="favorite-badge" *ngIf="recipe.isFavorite">
        ❤️ Preferita
      </div>
    </div>
  </div>
</ion-content>
